---
- name: Admin-user | create a kube credential folder
  ansible.builtin.file:
    state: directory
    dest: "{{ kube_credential_folder }}"
    mode: "0755"
    owner: "root"
    group: "root"
  become: true

- name: Admin-user | create a kube credential key and store into the first datastore mountpoint
  community.crypto.openssl_privatekey:
    path: "{{ kube_credential_folder }}/kubeadm.pem"
  when:
   - not kube_credential_key is defined
  become: true

- name: Admin-user | create a kube credential key and store into the first datastore mountpoint
  ansible.builtin.copy:
    dest: "{{ kube_credential_folder }}/kubeadm.pem"
    content: "{{ kube_credential_key }}"
    owner: "root"
    group: "root"
    mode: '0600'
  when:
   - kube_credential_key is defined
  become: true

- name: Admin-user | Generate an OpenSSL Certificate Signing Request with Subject information
  community.crypto.openssl_csr:
    path: "{{ kube_credential_folder }}/kubeadm.csr"
    privatekey_path: "{{ kube_credential_folder }}/kubeadm.pem"
    country_name: "{{ kube_credential_country_name }}"
    organization_name: "clusterAdministrators"
    email_address: "{{ kube_credential_email_address }}"
    common_name: "kubeClusteradm"
    subject_alt_name: "{{ ['DNS:' + (orchestration_host_hostname), 'IP:' + orchestration_host_ip] + (kube_alt_names | default([]) | map('regex_replace', '^', 'DNS:') | unique) }}"
  become: true

- name: Admin-user | Generate an OpenSSL certificate signed with kube CA certificate
  community.crypto.x509_certificate:
    path: "{{ kube_credential_folder }}/kubeadm.crt"
    csr_path: "{{ kube_credential_folder }}/kubeadm.csr"
    ownca_path: "{{ kubernetes_certificates_path }}ca.crt"
    ownca_privatekey_path: "{{ kubernetes_certificates_path }}ca.key"
    provider: ownca
  become: true

- name: Admin-user | create kubernetes cluster administrator group file
  ansible.builtin.copy:
    src: "{{ item }}.yml"
    dest: "/tmp/{{ item }}.yml"
    owner: root
    group: root
    mode: '0640'
  become: true
  loop:
    - clusteradministrators
    - cluster-administrators-crb
    - namespace-creator-cr
    - namespace-requestors-cr
    - namespace-creator-crb
    - namespace-requestor-crb

- name: Admin-user | create kubernetes cluster administrator group
  kubernetes.core.k8s:
    state: present
    src: "/tmp/{{ item }}.yml"
  failed_when: false
  become: true
  loop:
    - clusteradministrators
    - cluster-administrators-crb
    - namespace-creator-cr
    - namespace-requestors-cr
    - namespace-creator-crb
    - namespace-requestor-crb

- name: Admin-user | configure kubernetes with credentials
  ansible.builtin.command: "kubectl config set-credentials kubeadm --client-key={{ kube_credential_folder }}/kubeadm.pem --client-certificate={{ kube_credential_folder }}/kubeadm.crt"
  failed_when: false
  changed_when: False
  become: true

- name: Admin-user | cat kubernetes admin certificates
  ansible.builtin.slurp:
    src: "{{ kube_credential_folder }}/kubeadm.crt"
  register: key
  become: true

- name: Admin-user | cat kubernetes admin certificates
  ansible.builtin.debug:
    msg: "{{ key['content'] | b64decode }}"
