---

- name: Delete | Drain kube
  ansible.builtin.include_tasks: drain-and-reset.yml
  run_once: True
  when:
   - kube_masters_group in group_names

- name: Delete | Destroying kube
  ansible.builtin.include_tasks: delete-configuration.yml
