---

- name: Fix Requirements | Update containerd pause image
  ansible.builtin.replace:
    path: /etc/containerd/config.toml
    regexp: 'enable_selinux\s*=\s*false'
    replace: 'enable_selinux = true'
  become: True

# - name: Fix Requirements | Enable systemd cgroup
#  ansible.builtin.replace:
#    path: /etc/containerd/config.toml
#    regexp: '(\s*)systemd_cgroup\s*=\s*false'
#    replace: '\1systemd_cgroup = true'
#  become: True

- name: Fix Requirements | Enable systemd cgroup
  ansible.builtin.replace:
    path: /etc/containerd/config.toml
    regexp: '^\s+SystemdCgroup\s*=\s*false'
    replace: '# SystemdCgroup = false'
  become: True

- name: Fix Requirements | Disable apparmor
  ansible.builtin.replace:
    path: /etc/containerd/config.toml
    regexp: '^\s+disable_apparmor\s*=\s*false'
    replace: 'disable_apparmor = true'
  become: True

- name: Fix Requirements | Add systemd cgroup if line not present
  ansible.builtin.lineinfile:
    path: /etc/containerd/config.toml
    regexp: 'SystemdCgroup\s=\strue'
    insertafter: '\.containerd\.runtimes\.runc\.options'
    line: "{{ 'SystemdCgroup = true' | indent(width=12, first=True) }}"
  become: True

- name: Fix Update containerd pause image
  ansible.builtin.replace:
    path: /etc/containerd/config.toml
    regexp: 'sandbox_image\s*=\s*"registry\.k8s\.io\/pause:3\.8'
    replace: 'sandbox_image = "registry.k8s.io/pause:3.10'
  become: True

- name: Fix Ensure containerd is started and enabled at boot.
  ansible.builtin.service:
    name: containerd
    state: restarted
  become: True
