---

- name: Ipa-master | configure http service
  freeipa.ansible_freeipa.ipaservice:
    ipaadmin_password: "{{ company_realm_password }}"
    name: "{{ item }}"
    host: "{{ orchestration_host_hostname }}"
    allow_retrieve_keytab_host: "{{ orchestration_host_hostname }}"
    allow_create_keytab_host: "{{ orchestration_host_hostname }}" # TODO create kubernetes master group
    skip_host_check: True
  delegate_to: "{{ groups[idm_group][0] }}"
  no_log: "{{ secure_logs }}"
  loop:
   - "HTTP/{{ orchestration_host_hostname }}"

- name: Ipa-master | set service to be managed by current host
  freeipa.ansible_freeipa.ipahost:
    ipaadmin_password: "{{ company_realm_password }}"
    hosts:
     - name: "{{ orchestration_host_hostname }}"
       managedby_host: "{{ orchestration_host_hostname }}"
    action: member
  no_log: "{{ secure_logs }}"
  delegate_to: "{{ groups[idm_group][0] }}"
