---

- name: Kube-Firewall | add kube nodes cidr to trusted zone
  ansible.posix.firewalld:
    source: "{{ orchestration_controlplane_node_network }}"
    zone: "{{ kube_firewall_trusted_zone }}"
    state: enabled
    immediate: true
    permanent: true
  become: true

- name: Kube-Firewall | add kube pod cidr to trusted zone
  ansible.posix.firewalld:
    source: "{{ orchestration_host_ip }}"
    zone: "{{ kube_firewall_trusted_zone }}"
    state: enabled
    immediate: true
    permanent: true
  delegate_to: "{{ groups[kube_masters_group][0] }}"
  become: true
  when:
    - kube_nodes_group in group_names
