---
# tasks file for ansible-orchestration

- name: Drain kube
  ansible.builtin.include_tasks: delete.yml
  run_once: true
  when:
   - reset_kube

- name: Requirements
  ansible.builtin.import_tasks: requirements.yml

- name: Fix Requirements
  ansible.builtin.include_tasks: fix-requirements.yml
  when:
   - kube_nodes_group in group_names or kube_masters_group in group_names

- name: Install needed packages
  ansible.builtin.import_tasks: prereq.yml

- name: Gather facts
  ansible.builtin.include_tasks: facts.yml

- name: Prepare node for cri
  ansible.builtin.include_tasks: cri.yml

- name: Configure firewall
  ansible.builtin.include_tasks: firewall.yml

# - name: ansible-orchestration | delegate kubernetes ca creation to IPA
#  include_tasks: ipa-certs.yml
#  when:
#   - kube_masters_group in group_names

- name: Install kube on node # Executed sequentially: control plane should be executed first
  ansible.builtin.include_tasks: kube-install.yml
#  when:
#    - kube_nodes_group in group_names

- name: Firewalld configuration for kube
  ansible.builtin.include_tasks: kube-firewall.yml
  when:
    - kube_masters_group in group_names or kube_nodes_group in group_names

- name: Create local volumes for nfs mount on nodes
  ansible.builtin.include_tasks: nfs-mountpoints.yml
  when:
    - nfs_mountpoints is defined
    - nfs_mountpoints | length > 0
    - kube_nodes_group in group_names

- name: Create admin user
  ansible.builtin.import_tasks: admin-user.yml
  when:
    - kube_masters_group in group_names
