---

- name: Requirements | import swap role
  ansible.builtin.import_role:
    name: geerlingguy.swap
  vars:
    swap_file_state: absent
    ansible_become: True

- name: Requirements | import containerd role
  ansible.builtin.import_tasks: snippet_containerd.yml
