apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/pki/ca.crt
    server: https://{{ kube_api_server_addr_final }}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubelet-bootstrap
  name: kubelet-context
current-context: kubelet-context
preferences: {}
users:
- name: kubelet-bootstrap
  user:
    token: "{{ kube_bootstrap_token }}"
