---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-{{ nfs_mountpoint.remote | replace('/', '') }}-{{ kube_volume_to_mount.subtree | default('root') | replace('/', '') }}
spec:
  capacity:
    storage: {{ kube_volume_to_mount.mountsize | default('5') }}Gi
  volumeMode: Filesystem
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-storage
  nfs:
    server: "{{ nfs_mountpoint.nfs_server }}"
    path: {{ nfs_mountpoint.remote + (kube_volume_to_mount.subtree | default('')) }}
