---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ nfs_mountpoint.local | replace('/', '') }}-{{ kube_volume_to_mount.subtree | default('root') | replace('/', '') }}
spec:
  capacity:
    storage: {{ kube_volume_to_mount.mountsize | default('5') }}Gi
  volumeMode: Filesystem
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: {{ nfs_mountpoint.local + (kube_volume_to_mount.subtree | default('')) }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
          - key: nodeKind
            operator: NotIn
            values:
            - cloud
